* {
  padding:0px;
  margin:0px;
}

body {
  position:relative;
}

.container {
  width:1080px;
}

#footer {
  width:200px;
  color:rgba(0, 0, 0, 0.400);
}

#footer svg {
  font-size:30px;
  margin-left:35px;
}