* {
  padding:0px;
  margin:0px;
}

body {
  position:relative;
  background-color:rgba(169, 249, 255, 0.068);
}

#wrapper {
  width:1080px;
}

img.media-object {
  width:200px;
}

#footer {
  width:200px;
  color:rgba(0, 0, 0, 0.400);
}

#footer svg {
  font-size:30px;
  margin-left:35px;
}